# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
dist/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project
build/
data/db/*.sqlite3
data/app_logs/
data/uploads/

.trae/
docs/