@import "tailwindcss";

@theme {
  --color-primary: #409EFF;
  --color-success: #67C23A;
  --color-warning: #E6A23C;
  --color-danger: #F56C6C;
  --color-info: #909399;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 适配 Element Plus 暗黑模式 */
html.dark {
  color-scheme: dark;
}

